# See https://github.com/marketplace/actions/markdownlint-mdl-action
name: Markdown Lint

on: [push, pull_request]

jobs:
  delivery:
    runs-on: ubuntu-latest

    steps:
    - name: Check out code
      uses: actions/checkout@v6
    - name: Run mdl
      uses: actionshub/markdownlint@v3.1.4
